<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogware</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:family=Source+Sans+Pro:&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-md ">
    <div class="container">
      <a class="navbar-brand mr-auto">BLOGWARE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" id="home" href="/home">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact" href="/contact">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" id="content">
