<%-include("partials/header")-%>

<h1>About</h1>
<p>Blogware was designed as an innovative approach to help people showcase their views or opinions on the matter of their expertise.<br>
  It was designed and developed by Ashish Kumar-A Computer Science and Enginnering Student at National Institute of Technology,Durgapur.<br>
  This was one of the first project of me when i was learning web development and it gave me immense confidence to further build web applications which will have great utility in real scenario.</p>

<%-include("partials/footer")-%>
